<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Accelerometer-Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE2D58781E3CFA280028D8F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2D588C1E3CFA280028D8F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2D58971E3CFA280028D8F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
